@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --rojo: #d70021;
    --rojoClaro: #fcecec;
    --rojoOscuro: #7e2b2b;
    --gris: #808080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}


/*---------------------*/
/* CSS DE HEADER */
/*---------------------*/
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d70021; /* Rojo Juan Valdez */
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 500px; /* Ajusta el tamaño del logo */
    width: auto;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.menu li a:hover {
    text-decoration: underline;
}

.icons {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.icons li {
    margin-left: 15px;
}

.icons li a {
    display: block;
    width: 24px;
    height: 24px;
}

.icon {
    width: 24px;
    height: 24px;
}

/* Estilo del icono de sandwich */
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


.phone-menu-section{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: #8a0015;
    color: white;
    transition: all 0.1s ease-in-out;
    height: 0%;
}

.phone-menu-section p{
    font-weight: 700;
    padding: 5px;
    transition: all 0.1s ease-in-out;
}

.phone-menu-section p:hover{
    background-color: #d50000;
    padding: 5px;
    border-radius: 0.7rem;
}

.active{
    display: grid;
    height: 100%;
}



/* Media Query para pantallas pequeñas */
@media (max-width: 767px) {
    .menu {
        display: none; /* Ocultamos el menú por defecto en pantallas pequeñas */
        flex-direction: column;
        width: 100%;
        background-color: #d50000;
    }

    .menu li {
        margin: 10px 0;
    }

    .icons {
        display: none; /* También ocultamos los iconos en pantallas pequeñas */
    }

    .menu-icon {
        display: block; /* Mostramos el icono de sandwich */
    }
}





/*---------------------*/
/* CSS DE MAIN */
/*---------------------*/

main{
    padding-top: 6rem;
}

/* Activar y desactivar imagenes en Descktop y Mobile */
.mobile {
    display: none;
}

.desktop{
    display: flex;
}

/* Estilos para el carrusel */
.carrusel {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.imagenes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transition: transform 2s ease-in-out;
}

.imagenes img {
    width: 100vw;
}

/* Botones del carrusel */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.btn svg{
    width: 2rem;
    height: 2rem;
    background-color: rgba(11, 10, 10, 0.3);
    border-radius: 50%;
}

.btn svg:hover{
    background-color: rgba(11, 10, 10, 1);
}

.anterior {
    left: 1rem;
}

.siguiente {
    right: 1rem;
}

/* Indicadores de imagenes */
.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 3.5rem;
    font-weight: 500;
    margin: -1rem 0.3rem 0 0.3rem;
    color:var(--gris);
}

.puntos .bold{
    font-weight: 700;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: black;
}

#puntosMobile{
    display: none;
}

/* Estilo de indicadores y imagenes para Tablets y Mobile */
@media (max-width: 768px) {
    .mobile{
        display: flex;
    }

    .desktop{
        display: none;
    }

    #puntosDescktop{
        display: none;
    }

    #puntosMobile{
        display: flex;
    }
}

/* Contenedores de informacion de la tienda */
.container_store{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 3rem 0;
}

.container_store .store_box{
    background-color: var(--rojoClaro);
    width: 25%;
    padding: 1rem;
    text-align: center;
}

.container_store .store_box h2{
    color: var(--rojo);
    font-size: 3rem;
    margin: 0 .5rem;
    font-weight: 900;
}

.container_store .store_box h5{
    color: var(--rojoOscuro);
    font-weight: 800;
    font-size: 1rem;
    margin: 0;
}

/* Modifica el ancho de los contenedores para dispositivos menores a 1024px */
@media (max-width: 1024px) { 
    .container_store .store_box{
        width: 40%;
    }
}

.slide-container{
    margin: 0 20vw;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
}


.slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}

.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit:contain;
}

.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next{
    right: 20px;
}

span.prev{
    left: 20px;
}

span.next:hover, span.prev:hover{
    background-color: #c8c7c6;
    opacity: 0.9;
    color: #000000;
} 

.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}

.dotsContainer .dot{
    width: 10px;
    height: 10px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.dotsContainer .active{
    background-color: #000000;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}

@media (max-width: 1200px) and (min-width: 768px) { 
    .slide-container {
        width: 100%;
        margin: 0;
        height: 300px;
    }


    .slide-container .slides img{
        object-fit:contain;
    }
    
    .dotsContainer{
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .dotsContainer .dot{
        margin: 0 1px;
}
}

@media (max-width: 765px) and (min-width: 501px) {
    .slide-container{ 
        margin: 0;
        height: 300px;
    } 
}

@media(max-width: 500px) and (min-width: 320px){
    .slide-container{ 
        height: 175px;
        margin: 0;
        
        
    }

    span.next, span.prev{
        padding: 0;
        height: 10px;
        width: 10px;
        margin: 0;
        
    }

    span.next, span.prev svg{
        width: 25px;
        height: 25px;
    }
}


.content{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1vh;
}
.content .git{
    width: 100%;
    object-fit: contain;
    height: auto;

}


/*imagenes responsivas*/
.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 1rem 1rem 0 1rem;
}








/*---------------------*/
/* CSS DE FOOTER */
/*---------------------*/

footer{
    border-top: 3px dashed red; 
    padding: 20px;
    margin-top: 2rem;

    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    color: red;
    font-family: Arial, sans-serif;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; 
    align-items: center;
    margin-bottom: 10px;
}

.logo-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo, .certificado {
    width: 70px;
    
}

.links-section {
    display: flex;
    justify-content: space-around;
    grid-column: 2 / 4; /* Ocupa las dos últimas columnas */
    list-style: none;
}

.links-section a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.links-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    grid-column: 1 / 4; /* Abarca todo el ancho */
    font-size: 14px;
    color: red;
    margin-top: 10px;
}

/* Media Query para pantallas menores a 767px */
@media (max-width: 767px) {
    .footer-container {
        grid-template-columns: 1fr; /* Cambia a una columna */
        gap: 10px;
    }

    .links-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1 / 2; /* Ocupe todo el ancho */
        gap: 15px;
        border-bottom: 3px dashed red; 
        padding: 1rem;
    }

    .logo-section {
        justify-content: center; 
        grid-column: 1 / 2; /* Asegura que el logo esté en una sola columna */
    }

    .footer-bottom {
        grid-column: 1 / 2; /* Abarca todo el ancho en pantallas pequeñas */
        padding-top: 1rem;
    }
}
